#admin {
    display: flex;
    height: 20vh;
    width: 40vw;
    border: 1px red solid;
    margin: 0 auto;
    flex-wrap: wrap;
    column-gap:50px
}

#admin input{
    height: 50px;
    flex-grow: 2;
}

#admin button{
    height: 50px;
    flex-grow: 1;
    margin-right: 2vw;
}

#web-sites{
    border: 1px red solid;
    height: 65vh;
    width: 40vw;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    padding: 0;
    overflow-y: auto;
}