#admin {
    display: flex;
    height: 20vh;
    width: 40vw;
    border: 0;
    margin: 0 auto;
    flex-wrap: wrap;
    column-gap:50px
}

#admin input{
    height: 50px;
    flex-grow: 2;
}

#admin button{
    height: 50px;
    flex-grow: 1;
    margin-right: 2vw;
}

#web-sites{
    border: 0;
    height: 65vh;
    width: 40vw;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    padding: 0;
    overflow-y: auto;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    flex-wrap: wrap;
    gap: 30px;  
    padding: 0;
}

li{
    padding: 5px 10px;
    background-color: wheat;
    flex-grow: 1;
}

#title{
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}